@model U2Lab2.Models.Cliente

@{
    ViewData["Title"] = "Eliminar Cliente";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center text-danger">@ViewData["Title"]</h1>
            <h3 class="text-center">¿Está seguro de que desea eliminar este cliente?</h3>
            <hr />
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <h4>Detalles del Cliente</h4>
            <dl class="row mt-4">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.NombreCli)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.NombreCli)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CedulaCli)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CedulaCli)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CorreoCli)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CorreoCli)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FechaNacimientoCli)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.FechaNacimientoCli)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ImagenUrlCli)
                </dt>
                <dd class="col-sm-9">
                    <img src="@Model.ImagenUrlCli" alt="Imagen de @Model.NombreCli" style="width:150px;height:auto;" />
                </dd>
            </dl>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 text-center">
            <form asp-action="Delete" class="d-inline">
                <input type="hidden" asp-for="IdCli" />
                <input type="submit" value="Eliminar" class="btn btn-danger btn-lg" />
            </form>
            <a asp-action="Index" class="btn btn-secondary btn-lg ml-2">Volver a la Lista</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
